.logo{
    height: 30vh;
}
.logo-div{
    display: flex;
    justify-content: center;
}
h1{
    font-family: "Poppins", sans-serif;
    color: #21354D;
    width: 100vw;
    text-align: center;
}
h2{
    font-family: "Poppins", sans-serif;
    color: #21354D;    
}
.formulario-div{
    width: 100vw;    
    display: flex;
    justify-content: center;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-top: 10vh;

}
label{
    font-family: "Poppins", sans-serif;
    color: #21354D;
}


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  
  input, textarea, select, button {
    font-family: "Muli-Regular";
    color: #333;
    font-size: 13px; }
  
  
  
  a:hover {
    text-decoration: none; }
  
  :focus {
    outline: none; }
  
  .wrapper {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center; }
  
 
  
  form {
    width: 50%;
    padding-left: 45px; }
  
  .form-group {
    display: flex; }
    .form-group .form-wrapper {
      width: 50%; }
      .form-group .form-wrapper:first-child {
        margin-right: 20px; }
  
  .form-wrapper {
    margin-bottom: 17px; }
    .form-wrapper label {
      margin-bottom: 9px;
      display: block; }
  
  .form-control {
    border: 1px solid #ccc;
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    border-radius: 20px;
    font-family: "Muli-Bold";
    background: none; }
    .form-control:focus {
      border: 1px solid #ae3c33; }
  
  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    padding-left: 20px; }
    select option[value=""][disabled] {
      display: none; }
  
  button {
    border: none;
    width: 152px;
    height: 40px;
    margin: auto;
    margin-top: 29px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #52BA40;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    font-family: "Muli-SemiBold";
    border-radius: 20px;
    overflow: hidden;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s; }
    button:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #20354A;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transform-origin: 0 50%;
      transform-origin: 0 50%;
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transition-duration: 0.5s;
      transition-duration: 0.5s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out; }
    button:hover:before {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
      -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
      transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66); }
  
 
    form {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px; }
  

  